.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 15%;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(211, 206, 202);
}

.logo-link {
  width: 60px;
  align-self: center;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 1rem;
}

.menu {
  padding: 0;
  margin-top: 15rem;
  list-style: none;
}

.link {
  text-decoration: none;
}

.sideBarItem {
  margin: 1rem 0;
  color: black;
  list-style: none;
  cursor: pointer;
}

.sideBarItem:hover {
  color: rgb(188, 16, 16);
  transition: 0.5s;
}