.gallery__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 75%;
}
  
.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.pagination {
    /* align-self: center;
    margin: 15px 0;
    width: 100px; */
}
  