.checkbox {
    margin-right: .5rem;
}
  
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
  
.MuiInputBase-input{
    color: white !important;
}
