.checkbox {
    margin-right: .5rem;
}
  
.addTodo {
    margin-bottom: 1rem;
    border: 1px solid black;
}
  
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.btn-open {
    cursor: pointer;
}