.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 2px solid #d500f9;
    padding: .7rem 1rem;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.done {
    text-decoration: line-through;
}
  