.modal__gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 12px;
    background-color: white;
    width: 70%;
    height: 70%;
    transition: 0.4s all;
    -webkit-user-select: none;
    user-select: none;
}